<div class="container">
    <h2>Welcome to Cardiology E-Reporting System</h2>

    <p>{{ introText }}</p>

    <h3>Procedures Performed by Interventional Cardiologists:</h3>
    <ul>
        <li>Coronary Angiogram</li>
        <li>Renal Angiogram</li>
        <li>Cerebral Angio</li>
        <li>Peripheral Angio</li>
        <li>PTCA - Percutaneous Transluminal Coronary</li>
        <li>PPI - Permanent Pace Maker Implantation</li>
        <li>IVC Filter</li>
        <li>CATH</li>
        <li>TPI</li>
        <li>BMV</li>
        <li>Device Closure - ASD, VSD, PDA</li>
        <li>Closure of Fistula</li>
    </ul>

    <h3>Procedures Performed by Cardio Thoracic & Vascular Surgeons:</h3>
    <ul>
        <li>Off Pump Beating CABG</li>
        <li>Valve Replacement</li>
        <li>Cardiac Tumour</li>
        <li>Thoracic & Abdominal Aneurysm</li>
        <li>Aorta Femoral Bypass</li>
        <li>Bental Procedure</li>
    </ul>
</div>
