<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form ng-submit="login()">
            <div class="input-group">
                <label>Username:</label>
                <input type="text" ng-model="user.username" placeholder="Enter Username" required>
            </div>

            <div class="input-group">
                <label>Password:</label>
                <input type="password" ng-model="user.password" placeholder="Enter Password" required>
            </div>

            <button type="submit" class="login-btn">Log in</button>
            <p class="error-message" ng-show="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>
